<div fxLayout="row wrap" class="heros" >
    <ng-container *ngFor="let hero of heros; template: heroTemp"></ng-container>
</div>
<mat-paginator *ngIf="heros.length > 0" [length]="countAll" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)"
    aria-label="Select page">
</mat-paginator>



<ng-template #heroTemp let-hero>
    <div fxFlex="25" fxFlex.lt-md="100" fxFlex.lt-lg="33" class="card-container">
        <mat-card class="example-card" [routerLink]="['./' + hero.id]">
            <mat-card-title-group>
                <mat-card-title>{{hero.name | cardName}}</mat-card-title>
                <mat-card-subtitle>
                    <mat-label>{{hero.modified | date}}</mat-label>
                    <br>
                    <mat-label><ng-container i18n>Stories: </ng-container>{{hero.stories.available}}</mat-label>
                    <br>
                    <mat-label><ng-container i18n>Series: </ng-container>{{hero.series.available}}</mat-label>
                </mat-card-subtitle>
                <img mat-card-md-image [src]="hero.thumbnail.path + '.' + hero.thumbnail.extension">
            </mat-card-title-group>
        </mat-card>
    </div>
</ng-template>